{% load static %} <link rel="stylesheet" href="{% static "my_app_blog/base.css" %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Blog – {% block title %}An awesome blog{% endblock %}</title>

</head>

<body>
  <!-- The header -->
  <header id="site-header">
     <h1>My Blog</h1>
     <p>A blog about awesomeness</p>
  </header>

  <!-- Top navigation -->
  <nav id="top-nav">
    <ul>

      <li><a href="{% url "home" %}">Home</a></li>
      <li><a href="{% url "about" %}">About</a></li>
      <li><a href="{% url "post_list" %}">Post</a></li>
        <li><a href="{% url "form" %}">Form</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

<main id="main-content">
  <div>
    {% block content %}

     {% endblock %}
    </div>
<aside>


 <section id="topic_list">
  <a href="{% url "topic" %}"><h3>Topics</h3></a>
    {% for topic in topics %}
      <li>{{ topic.name }}</li>
    {% endfor %}
  </ul>
</section>
    </aside>
</main>
<!-- The footer -->
  <footer id="site-footer">
    <!-- Print copyright with the current year -->
    Copyright &copy;{% now 'Y' %} <strong>Milan Trajkovic</strong>
  </footer>




</body>
</html>